@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
.header {
  background-color: aliceblue;
  padding: 25px;
  text-align: center;
  font-size: 16px;
}

.banner {
  margin-top: 46px;
}
.banner-right {
  padding: 0px 20px;
}
.banner-row {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 17px 20px 10px 14px;
}
.banner-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.banner-list-item {
  color: #505050;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  width: 230px;
}
.banner-banner {
  position: relative;
}
.banner-banner__info {
  position: absolute;
  padding: 56px 0px 0px 44px;
}
.banner-banner__info-toptitle {
  color: #1C1C1C;
  font-size: 28px;
  font-weight: 400;
  line-height: normal;
}
.banner-banner__info-title {
  color: #1C1C1C;
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
}
.banner-banner__info-btn {
  margin-top: 17px;
  border-radius: 6px;
  border: 1px solid #FFF;
  background-color: #FFF;
  box-shadow: 0px 1px 2px 0px rgba(56, 56, 56, 0.08);
  color: #1C1C1C;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  padding: 0px 16px;
  height: 40px;
}
.banner-banner__image {
  width: 664px;
  height: 373px;
}
.banner-banner__image img {
  width: 100%;
  height: 100%;
}
.banner__content-userpanel {
  background-color: #E3F0FF;
  padding: 14px 10px;
  border-radius: 6px;
}
.banner__content-userpanel-wrap {
  display: flex;
  align-items: center;
  gap: 8px;
}
.banner__content-userpanel-info-text {
  color: #1C1C1C;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
.banner__content-userpanel__buttons {
  margin-top: 13px;
  display: flex;
  gap: 7px;
  flex-direction: column;
}
.banner__content-userpanel__buttons-btn {
  width: 180px;
  height: 30px;
  padding: 0px 10px;
  flex-shrink: 0;
  border-radius: 6px;
  background-color: #0067FF;
  color: #fff;
}
.banner__content-userpanel__buttons-btn2 {
  width: 180px;
  height: 30px;
  padding: 0px 10px;
  flex-shrink: 0;
  border-radius: 6px;
  background-color: #fff;
  color: #0067FF;
}
.banner__content-panel {
  width: 200px;
  height: 95px;
  padding: 16pxw;
}

.footer {
  background-color: aliceblue;
  padding: 25px;
  text-align: center;
  font-size: 16px;
}

.container {
  width: 100%;
  max-width: 1240px;
  padding: 0px 20px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

ul, li {
  list-style-type: none;
}

.wrapper {
  width: 100%;
  height: 100%;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  background-color: #F7FAFC;
}

.main {
  flex: 1 1 auto;
}/*# sourceMappingURL=main.css.map */